<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Giga API', root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item mt-2 mb-2">
          <%= link_to 'New user', new_user_path, class: "nav-link btn btn-link" %>
        </li>

        <li class="nav-item mt-2 mb-2">
          <%= button_to 'Get some users', api_v1_users_batch_index_path, method: :post, class: "nav-link btn btn-link" %>
        </li>
      </ul>
    </div>
  </div>
</nav>
